
body{
	background: #0e739b;
}

body { margin:0; }

/*takes away underline from the link*/
a {text-decoration: none; }

.topheader {
    padding: 1px;
    height: 220px;
    margin-bottom: 57px;
    text-align: center;
    background: #0e739b;
}
.topheader img {
    width: 340px;
    height: 323px;
    margin: -20px;
}



 h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 40px;
}

.title {
    background-color: #0A51A9;
    border: 3px solid black;
    width: 50%;
    margin-bottom: 60px;
    margin-top: 40px;
    height: 65px;
    margin-left: 25%;
}
	
	
h4{
    
	margin-top: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}




/* Add a black background color to the top navigation */
.topnavigation {
  position: relative;
  background-color: #0A51A9;
  border: 2px solid black;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.topnavigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index:99999;
}

/* Style the links inside the navigation bar */
.topnavigation a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnavigation a:hover {
  background-color: black;
  color: #0e739b;
}

.topnavigationcentre a:hover {
  background-color: black;
  color: #0e739b;
}

/* Add a color to the active/current link */
.topnavigation a.active {
  background-color: black;
  color: white;
}

/* Centered section inside the top navigation */
.topnavigationcentre a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnavigationright {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnavigationright {
    float: none;
    display: block;
  }

  .topnavigationcentre a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
/*TITLE css*/
.title {
    background-color: #0A51A9;
    border: 2px solid black;
    width: 50%;
    height: 65px;
	margin-left:25%;
}
	

.areas{
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* for the css to specifically work for the images in the areas div*/
 .areas img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #0A51A9;
    text-align: left;
    border: 2px solid black;
}

